@font-face {
	font-family: "JetBrains-Mono-Medium";
	src: url(/public/assets/fonts/JetBrainsMono-Medium.woff2) format("woff2");
}

* {
	font-family: "JetBrains-Mono-Medium", "Ubuntu", sans-serif;
}

:root {
	--green: #00ff01;
}

html,
body {
	font-family: "JetBrains-Mono-Medium", "Ubuntu", sans-serif;
	background-color: #1a191d;
	color: white;
	scroll-behavior: smooth;
}

h2 {
	font-size: 2rem;
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
}

.hero-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 3rem;
}

h1.hero-name {
	font-size: 4.5rem;
	margin-bottom: 1rem;
}

.hero-title-description {
	font-size: 1.5rem;
	color: #999;
	font-weight: bold;
}

.hero-span a {
	padding: 0.5rem;
	color: var(--green);
}

/* Hamburger Menu Styles */

.hamburger {
	display: none;
	position: absolute;
	top: 2rem;
	right: 2rem;
	cursor: pointer;
}

.hamburger__icon {
	transition: all 0.3s ease-in-out;
}

.hamburger.open .hamburger__icon {
	transform: rotate(180deg);
}

/* Navigation Styles */

.nav {
	width: 100%;
	margin-top: 2rem;
	transition: opacity 0.3s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-end;
}

.nav ul li {
	display: inline-block;
	margin-right: 2rem;
}

.nav ul li a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	transition: all 0.2s ease-in-out;
	padding: 1rem;
	font-size: 1.2rem;
}

.nav ul li a:hover {
	color: var(--green);
}

/* General Container Styles */

.category-projects-container, .blogs-container, .about-container, .experience-container {
	margin: 5rem 0;
}

/* Section Styles */

.experience-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	margin-top: 5rem;
}

.experience-active {
	margin-top: 5rem;
}

.experience-info {
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}

.languages-experience {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.languages-experience:last-child {
	margin-bottom: 5rem;
}

.languages-experience > * {
	flex: 1 1 4rem;
}

.languages-experience img {
	width: 4rem;
	height: 4rem;
	margin: 0.5rem;
	transition: transform 0.3s ease-in-out;
	background-color: white;
	padding: 0.5rem;
	border: 0.1rem solid black;
	box-shadow: 0 0 0.5rem white;
	flex-shrink: 0;
}

.languages-experience img:hover {
	transform: scale(1.1);
}

.hidden {
	display: none;
}

/* Category Project Styles */

.category-projects {
	display: flex;
	justify-content: center;
	gap: 2.5rem;
	margin-top: 5rem;
	text-decoration: none;
}

.category-projects a {
	text-decoration: none;
	color: black;
}

.category {
	background-color: #f5f5f5;
	padding: 20px;
	text-align: center;
	width: 300px;
	border-radius: 5px;
}

.category h3 {
	font-size: 24px;
	margin-bottom: 10px;
}

.category p {
	font-size: 16px;
	color: #666;
}

.category:hover {
	background-color: #ebebeb;
}

.category:hover h3 {
	color: #333;
}

.category:hover p {
	color: #555;
}

/* Project Styles */

.projects-container {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	justify-content: center;
	align-items: center;
}

.projects-container:last-child {
	margin-bottom: 5rem;
}

.projects-container a {
	text-decoration: none;
	margin-left: 15%;
	margin-right: 15%;
}

.project {
	color: white;
	padding: 0.5rem;
	border-radius: 0.5rem;
	gap: 2rem;
}

.project:hover {
	background-color: white;
	color: black;
}

.project:nth-child(odd) {
	display: flex;
}

.project:nth-child(even) {
	display: flex;
	flex-direction: row;
}

.project-description {
	flex-basis: 50%;
	padding: 0 2rem;
}

.project-img {
	flex-basis: 50%;
	height: 20rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.project-img img {
	object-fit: contain;
	transition: all 0.3s ease-in-out;
	height: 20rem;
	width: 20rem;
	align-items: center;
}

.project-img img:hover {
	transform: scale(0.9);
}

.go-back-button {
	padding: 10px 20px;
	font-size: 16px;
	background-color: #f5f5f5;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	color: #333;
	transition: background-color 0.3s ease-in-out;
	margin-top: 2rem;
}

.go-back-button:hover {
	background-color: #e0e0e0;
}

/* Single Project Page */

.single-project {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
	margin: 0 10% 5rem 10%;
}

.single-project h1 {
	font-size: 2rem;
	margin-bottom: 1rem;
}

.single-project-main-img {
	margin-bottom: 2rem;
	width: 640px;
	max-width: 480px;
}

.single-project-main-img img {
	width: 100%;
	height: auto;
	object-fit: contain;
}

.single-project-description {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 2rem;
}

.single-project-description p {
	margin-bottom: 0.5rem;
}

.single-project-dev-images {
	display: flex;
	justify-content: center;
	gap: 1rem;
	background-color: white;
	padding: 0.5rem;
	border-radius: 0.5rem;
	margin-top: 1rem;
	flex-flow: wrap row;
}

.single-project-dev-images img {
	width: 4rem;
	height: 4rem;
	object-fit: contain;
	transition: all 0.3s ease-in-out;
}

.single-project-dev-images img:hover {
	transform: scale(1.1);
}

.single-project-github-container {
	margin: 2rem 0;
	cursor: pointer;
}

.single-project-github-container button,
.single-project-video .single-project-video-link {
	background-color: white;
	color: black;
	border: 0.1rem solid black;
	padding: 0.5rem;
	border-radius: 0.5rem;
	font-size: 1.2rem;
	font-weight: bold;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	text-decoration: none;
}

.single-project-github-container button:hover {
	background-color: black;
	color: white;
}

/* Blogs Styles */

.blogs-content {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	justify-content: center;
	align-items: center;
}

.blogs-content a {
	text-decoration: none;
	margin-left: 15%;
	margin-right: 15%;
}

.blog {
	color: white;
	padding: 0.5rem;
	border-radius: 0.5rem;
	gap: 2rem;
	display: flex;
}

.blog:hover {
	background-color: white;
	color: black;
}

.blog-description {
	flex-basis: 50%;
	padding: 0 2rem;
}

.blog-img {
	flex-basis: 50%;
	height: 20rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.blog-img img {
	object-fit: contain;
	transition: all 0.3s ease-in-out;
	height: 20rem;
	width: 20rem;
	align-items: center;
}

.blog-img img:hover {
	transform: scale(0.9);
}

.blog-date {
	font-style: italic;
}

/* Single blog Page */

.single-blog-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.single-blog-container h1 {
	color: white;
	margin-bottom: 1rem;
}

.single-blog-date {
	color: #888;
	font-size: 1.2rem;
	margin-bottom: 1.5rem;
}

.single-blog-content {
	color: white;
	font-size: 2rem;
	max-width: 800px;
	margin-bottom: 2rem;
}

.single-blog-content p {
	margin-bottom: 1rem;
	font-size: 1.15rem;
}

.single-blog-image-container {
	margin-top: 2rem;
	width: 30rem;
	border-radius: 1rem;
}

.single-blog-image-container img {
	max-width: 100%;
	height: auto;
	border-radius: 0.5rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* About Styles */

#about {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
	margin: 3.5rem 10rem;
}

#about h2 {
	font-size: 2rem;
	margin-bottom: 10px;
}

#about p {
	font-size: 1.2rem;
	margin-bottom: 30px;
}

#badges {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

#badges a {
	margin: 10px;
}

#badges img {
	width: 150px;
	height: 50px;
	object-fit: contain;
}

.about-container span {
	font-weight: bold;
	color: var(--green);
}

/* Error Styles */

.error-message {
	color: red;
	font-weight: bold;
	margin-bottom: 10px;
}

.error-message-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
}

/* Responsive Styles */

@media only screen and (max-width: 768px) {
	.hero-name {
		font-size: 5rem;
	}

	.hero-span {
		display: block;
	}

	.hero-title-description {
		font-size: 2rem;
		display: block;
	}

	.nav {
		display: none;
	}

	.nav.open {
		display: block;
		text-align: right;
		margin-top: 5rem;
		margin-bottom: 0;
		background-color: white;
		border-radius: 0.5rem;
	}

	.nav.open ul {
		display: flex;
		flex-direction: column;
		margin-right: 0.5rem;
	}

	.nav.open ul li a {
		color: black;
		text-decoration: underline;
	}

	.hamburger {
		display: block;
	}

	.hamburger__icon {
		font-size: 2rem;
	}

	.nav.open ul li {
		display: block;
		margin: 1rem 0;
	}

	#about {
		margin: 5rem 2rem;
	}

	.project {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.project-description p {
		display: none;
	}

	.project-description h3 {
		margin-bottom: 0;
	}

	.project-img img {
		height: 100%;
		width: 100%;
	}

	.languages-experience img {
		height: 5rem;
		width: 10rem;
	}

	.category-projects {
		align-items: center;
	}

	.single-project-main-img {
		width: 90%;
		height: auto;
	}

	.category-projects {
		display: flex;
		flex-direction: column;
	}

	.blogs-content .blog {
		display: flex;
		flex-flow: column wrap;
	}

	.blogs-container .blog-description p, .blogs-container .blog-description span {
		display: none;
	}

	.blogs-container .blog-img img {
		height: 100%;
		width: 100%;
	}

	.single-blog-container {
		margin: 0 8%;
	}
	
	.single-blog-container .single-blog-image-container {
		width: 100%;
	}
}
